.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--background);
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); */
}

#header {
  background: url(../../assets/bg-intro.png) center/cover no-repeat;
}

.logo {
  max-width: 150px;
  width: 100%;
}

.nav ul {
  display: flex;
  gap: 1.125rem;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 1rem;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); */
  /* background: url(../../assets/bg-intro.png); */
}
