.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}

#header {
  background: url(../../assets/bg-intro.png) center/cover no-repeat;
  align-items: center;
}

.logo {
  max-width: 150px;
  width: 100%;
}

.nav ul {
  display: flex;
  gap: 1.25rem;
}

.nav li {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav a {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0.43rem;
  cursor: pointer;
}

.nav a:hover {
  color: var(--text-terc);
}

.nav a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--text-terc);
  position: absolute;
  transition: 0.4s ease;
}

.nav a:hover:after {
  width: 80%;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1.5rem;
}

.intro .font-sm {
  line-height: 1.65;
  max-width: 48ch;
}

@media (max-width: 480px) {
  .header {
    gap: 1.25rem;
  }

  .nav ul {
    gap: 1.25rem;
  }

  .nav li:last-child {
    display: none;
  }
}
